name: Build and test symengine.js
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup emscripten
      uses: mymindstorm/setup-emsdk@v9
    - name: Get symengine repo
      uses: actions/checkout@v2
      with:
        repository: 'symengine/symengine'
    - name: Create build directory
      run: cd symengine && mkdir build
    - name: Build symengine
      run: |
        cd symengine/build
        emcmake cmake ..
        emmake make
